<div class="container">
  <div class="form-wrap">

    <h2>Book an appointment</h2>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <div formGroupName="personalDetails">
        <div class="form-group ls">
          <label for="name">Name<sup> *</sup></label>
          <input type="text"  formControlName="name">

        </div>

        <div class="form-group rs">
          <label for="age">Age<sup> *</sup></label>
          <input type="number"  formControlName="age">
        </div>

        <div class="form-group">
          <label for="email">Email<sup> *</sup></label>
          <input type="text" formControlName="email">
        

        </div>
       
        <div class="form-group">
          <label for="contact">Contact<sup> *</sup></label>
          <input type="tel" formControlName="contact">
        </div>

      </div>

      <div class="form-group1">
        <label for="gender">Gender</label>
        <div id="radio">
          <div class="gen">
            <input type="radio" value="Male" formControlName="gender">
            <label>Male</label>
          </div>
          <div class="gen">
            <input type="radio" value="Female" formControlName="gender">
            <label>Female</label>
          </div>

        </div>
      </div>

      <div lass="form-group" formArrayName="symptoms">
        <br><label for="symptom">Syptoms</label>
        <ng-container *ngFor="let symptom of reactiveForm.get('symptoms')['controls'];index as i">
          <input id="symptom" type="text" placeholder="fever,headache,cold..." formControlName="{{i}}">
        </ng-container>
        <button type="button" (click)="addSymptoms()">+Add Symptom</button>
      </div>


      <button type="submit" id="submit" [disabled]="!reactiveForm.valid" name="submit">Submit</button>
      <div>
        <span *ngIf="(!reactiveForm.get('personalDetails.name').valid && reactiveForm.get('personalDetails.name').touched)||
        (!reactiveForm.get('personalDetails.email').valid && reactiveForm.get('personalDetails.email').touched)||
        (!reactiveForm.get('personalDetails.contact').valid && reactiveForm.get('personalDetails.contact').touched)||
        (!reactiveForm.get('personalDetails.age').valid && reactiveForm.get('personalDetails.age').touched)">*Please
          fill the required fields</span>


      </div>


      

    </form>

  </div>

</div>

<router-outlet></router-outlet>