<div class="container1">
    <div class="child">
        <h2>Child Component - 2</h2>
        
        <p>Data from parent : <span>{{parentData1}}</span></p>
        <p>Data from Sibbling : <span>{{childData1}} </span></p>
        <p>Data from Sibbling without parent: <span>{{dataFromSib}} </span></p>
        
        <div class="display">
            <button (click)="sayHello1()"> Parent </button>
            <button (click)="sayHello2()">Sibbling </button>
            <button (click)="withoutParent2()">Sibbling without parent </button>

        </div>

    </div>
</div>