<div class="main">
  <h1>Structural Directives</h1>
  <div >
    <h2>1. NgIf examples</h2>
    <div class="main">
      <div *ngIf="Success">
        <h3>NgIf Works</h3>
      </div>
  
  
      <div *ngIf="Success1; then updated_msg; else error_msg">
        <h3>NgIf - else Works</h3>
      </div>
      <!-- templateReferenceVariable -->
      <ng-template #updated_msg>
        <h3>NgIf then Works</h3>
      </ng-template>
      <ng-template #error_msg>
        <h3>NgIf - else failed</h3>
      </ng-template>
  
  
      <div *ngIf="Success2;  else error_msg">
        <h3>NgIf - else Works</h3>
      </div>
  
      <ng-template #error_msg>
        <h3>NgIf - else failed</h3>
      </ng-template>
    </div>
    </div>
    


  <div>
    <h2>2. NgFor examples</h2>
    <ul>
      <li *ngFor="let team of teams; even as e ; odd as o">
        <div *ngIf="e" style="background-color:#ddd; width: 200px;">
          {{team.id}} {{team.name}}
        </div>
        <div *ngIf="o" style="background-color:rgb(198, 240, 193);width: 200px;">
          {{team.id}} {{team.name}}
        </div>
      </li>
    </ul>

  </div>

  <div>
    <h2>3. NgSwitch examples</h2>

    <div class="main" [ngSwitch]="Angular">
      <div *ngSwitchCase="10">Team Angular</div>
      <div *ngSwitchCase="20">Team ReactJs</div>
      <div *ngSwitchCase="30">Team IOS</div>
      <div *ngSwitchDefault> Robosoft Technologies</div>
    </div>

  </div>
</div>
<hr>

<div class="main">
  <!-- directly setting styling to DOM element -->
  <h1>Attribute Directives</h1>
  <div [ngStyle]="{'Background-color':'grey','color':'white','width':'150px','padding':'10px','text-align': 'center'}">
   NgStyle
  </div>
  <div [ngClass]="team">
     NgClass
  </div>
</div>

<hr>

<div class="main">
  <h1>Custom Directives</h1>
 <div appBorder>
  Custom Directive
 </div>
</div>
